<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Analyst</title>
	<div th:replace="fragments :: header"></div>
</head>

<body>

	<div th:replace="fragments :: navbar"></div>

	<div class="container">

		<div class="d-flex justify-content-center pt-5 pb-3 mt-3">
			<h1>Lista de analistas</h1>
		</div>

		<a th:href="@{/analyst}" class="btn btn-primary">Adicionar Analista</a>

		<div class="row mt-3 table-responsive">
			<table class="table table-hover align-middle">
				<thead class="table-light">
					<tr>
						<th scope="col">ID</th>
						<td scope="col">Nome</td>
						<td scope="col">Email</td>
						<td scope="col">Localidade</td>
						<td scope="col">Ações</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="analyst: ${analystList}">
						<th th:text="${analyst.id}" scope="row"></th>
						<td th:text="${analyst.name}"></td>
						<td th:text="${analyst.email}"></td>
						<td th:text="${analyst.locality}"></td>
						<td>
							<a th:href="@{/analyst/{id}(id=${analyst.id})}" class="btn btn-success">Editar</a>
							<a th:href="@{/deleteAnalyst/{id}(id=${analyst.id})}"
								class="btn btn-danger">Remover</button>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>

	<div th:replace="fragments :: footer"></div>

</body>

</html>