<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Employee</title>
	<div th:replace="fragments :: header"></div>
</head>

<body>

	<div th:replace="fragments :: navbar"></div>

	<div class="container">

		<div class="d-flex justify-content-center pt-3 pb-3 mt-3">
			<h1>Lista de colaboradores</h1>
		</div>

		<a th:href="@{/employee}" class="btn btn-primary">Adicionar Colaborador</a>

		<div class="row justify-content-center mt-3 table-responsive-md">
			<table class="table table-hover">
				<thead class="table-light">
					<tr>
						<th scope="col">ID</th>
						<td scope="col">Nome</td>
						<td scope="col">Email</td>
						<td scope="col">CPF</td>
						<td scope="col">Ações</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="employee: ${employeeList}">
						<th th:text="${employee.id}" scope="row"></th>
						<td th:text="${employee.name}"></td>
						<td th:text="${employee.email}"></td>
						<td th:text="${employee.cpf}"></td>
						<td>
							<a th:href="@{/employee/{id}(id=${employee.id})}" class="btn btn-success">Editar</a>
							<a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Remover</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<div th:replace="fragments :: footer"></div>

</body>

</html>