<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Equipment</title>
	<div th:replace="fragments :: header"></div>
</head>

<body>

	<div th:replace="fragments :: navbar"></div>

	<div class="container">

		<div class="d-flex justify-content-center pt-5 pb-3 mt-3">
			<h1>Lista de equipamentos</h1>
		</div>

		<a th:href="@{/equipment}" class="btn btn-primary">Adicionar Equipamento</a>

		<div class="row mt-3 table-responsive">
			<table class="table table-hover align-middle">
				<thead class="table-light">
					<tr>
						<th scope="col">ID</th>
						<td scope="col">Tipo de equipamento</td>
						<td scope="col">Fabricante</td>
						<td scope="col">Modelo</td>
						<td scope="col">Serial Number</td>
						<td scope="col">Status</td>
						<td scope="col">Ações</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="equipment: ${equipmentList}">
						<th th:text="${equipment.id}" scope="row"></th>
						<td th:text="${equipment.equipmentType}"></td>
						<td th:text="${equipment.fabricator}"></td>
						<td th:text="${equipment.model}"></td>
						<td th:text="${equipment.serialNumber}"></td>
						<td th:text="${equipment.equipmentStatus}"></td>
						<td>
							<a th:href="@{/equipment/{id}(id=${equipment.id})}" class="btn btn-success">Editar</a>
							<a th:href="@{/deleteEquipment/{id}(id=${equipment.id})}"
								class="btn btn-danger">Remover</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<div th:replace="fragments :: footer"></div>

</body>

</html>