<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Employee signature</title>
	<div th:replace="fragments :: header"></div>
	<div th:replace="fragments :: signatureCanvas"></div>
</head>

<body>

	<div class="mt-3 mb-1 row justify-content-center">
		<div class="col-auto">
			<h3>Assinatura do colaborador</h3>
		</div>
	</div>

	<div class="row justify-content-center mt-5">
		<canvas id="myCanvas"></canvas>
	</div>

	<div class="mt-3 row justify-content-center">
		<div class="col-auto">
			<button value="Reset" class="btn btn-danger" id='resetSign'>Limpar</button>
		</div>
		<div class="col-auto">
			<button type="button" class="btn btn-success" id="saveSign" onclick="saveSign()">Salvar</button>
		</div>
	</div>

	<div>
		<form th:action="@{/saveSignEmployee}" id="formSign" th:object="${signDTO}" method="post">
			<input type="hidden" th:field="*{termId}" value="${termId}" />
			<input type="hidden" th:field="*{operation}" value="${operation}" />
			<input type="hidden" th:field="*{signature}" id="fieldSign" />
		</form>
	</div>

	<div th:replace="fragments :: saveCanvas"></div>

</body>

</html>