<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

	<head>
		<title>Termos</title>
		<div th:replace="fragments :: header"></div>
	</head>

	<body>

		<div th:replace="fragments :: navbar"></div>

		<div class="container">

			<div class="d-flex justify-content-center pt-3 pb-3 mt-3">
				<h1>Lista de termos</h1>
			</div>

			<div class="row justify-content-between mt-3 mb-5">
				<div class="col-auto">
					<a th:href="@{/term}" class="btn btn-primary">Adicionar Termo</a>
				</div>
				<div class="col-auto">
					<form class="d-flex" th:action="@{/search}" method="get">
						<input class="form-control" type="search" placeholder="Pesquisar por colaborador"
							name="employeeName" th:value="${employeeName}" aria-label="Search" size="25">
						<button class="btn" type="submit">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bsi bi-search" viewBox="0 0 16 16">
								<path
									d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
							</svg>
							<span class="visually-hidden">Search</span>
						</button>
					</form>
				</div>
			</div>

			<div class="row mt-3 table-responsive" th:if="${!termList.isEmpty()}">
				<table class="table table-hover align-middle">
					<thead class="table-light">
						<tr>
							<th scope="col">ID</th>
							<td scope="col">Entregue</td>
							<td scope="col">Localidade</td>
							<td scope="col">Analista</td>
							<td scope="col">Colaborador</td>
							<td scope="col">Detalhes</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="term: ${termList}">
							<th th:text="${term.id}" scope="row"></th>
							<td th:text="${#temporals.format(term?.delivery?.instant, 'dd/MM/yyyy - HH:mm')}"></td>
							<td th:text="${term.locality.getName}"></td>
							<td th:text="${term.analyst.getName}"></td>
							<td th:text="${term.employee.getName}"></td>
							<td>
								<a th:href="@{/term/details/{id}(id=${term.id})}" class="btn btn-success">Abrir</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div th:replace="fragments :: pagination"></div>

		</div>

		<div th:replace="fragments :: footer"></div>

	</body>

</html>