<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Termos</title>
	<div th:replace="fragments :: header"></div>
</head>

<body>

	<div th:replace="fragments :: navbar"></div>

	<div class="container">

		<div class="d-flex justify-content-center pt-5 pb-3 mt-3">
			<h1>Lista de termos</h1>
		</div>

		<a th:href="@{/term}" class="btn btn-primary">Adicionar Termo</a>

		<div class="row mt-3 table-responsive">
			<table class="table table-hover align-middle">
				<thead class="table-light">
					<tr>
						<th scope="col">ID</th>
						<td scope="col">Entregue</td>
						<td scope="col">Analista</td>
						<td scope="col">Colaborador</td>
						<td scope="col">Status</td>
						<td scope="col">Detalhes</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="term: ${termList}">
						<th th:text="${term.id}" scope="row"></th>
						<td th:text="${#temporals.format(term.moment, 'dd/MM/yyyy - HH:mm')}"></td>
						<td th:text="${term.analyst.getName}"></td>
						<td th:text="${term.employee.getName}"></td>						
						<td th:text="${term.termStatus}"></td>
						<td>
							<a th:href="@{/term/details/{id}(id=${term.id})}" class="btn btn-success">Abrir</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<div th:replace="fragments :: footer"></div>

</body>

</html>