<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Terms</title>
    <div th:replace="fragments :: header"></div>
</head>

<body>

    <div th:replace="fragments :: navbar"></div>

    <div class="container">

        <div class="d-flex justify-content-center pt-5 pb-3 mt-3">
            <h1>Termo</h1>
        </div>

        <div class="row justify-content-center mt-3">

            <form th:action="@{/saveTerm}" th:object="${term}" method="post" class="col-10 col-md-8 col-lg-6 col-xl-6">

                <input type="hidden" th:field="*{id}" />

                <div class="mb-3">
                    <label for="dropAnalysts" class="form-label">Analista</label>
                    <select name="dropAnalysts" class="form-control" th:field=*{analyst}>
                        <option value="ANALISTA 1">ANALISTA 1</option>
                        <option value="ANALISTA 2">ANALISTA 2</option>
                        <!-- <option th:each="analyst : ${}"
                            th:value="${analyst}" th:text="${analyst}"></option>
                       -->
                    </select>
                </div>

                <div class="mb-3">
                    <label for="dropEmployess" class="form-label">Colaborador</label>
                    <select name="dropEmployess" class="form-control" th:field=*{employee}>
                        <option value="COLABORADOR 1">COLABORADOR 1</option>
                        <option value="COLABORADOR 2">COLABORADOR 2</option>
                        <!-- <option th:each="analyst : ${}"
                            th:value="${analyst}" th:text="${analyst}"></option>
                       -->
                    </select>
                </div>

                <div class="mb-3 row justify-content-between">
                    <div class="col-auto">
                        <a class="btn btn-secondary" th:href="@{/terms}">Cancelar</a>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>

            </form>

        </div>

    </div>

    <div th:replace="fragments :: footer"></div>

</body>

</html>