<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <title>Insert title here</title>
  <div th:replace="fragments :: header"></div>

</head>

<body>

  <h1>Hello to home page</h1>

  <br />

  <a th:href="@{/equipments}">Lista de Equipamentos</a>

  <br />

  <a th:href="@{/term}">Novo Termo</a>

  <div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <td>Analista</td>
          <td>Colaborador</td>
          <td>Equipamentos</td>
          <td>Acoes</td>
        </tr>
      </thead>
      <tbody>
        <tr th:each="term: ${termList}">
          <th th:text="${term.id}"></th>
          <td th:text="${term.analyst.name}"></td>
          <td th:text="${term.employee.name}"></td>
          <td th:text="${term.employee.name}"></td>
          <td>
            <a th:href="@{/term/{id}(id=${term.id})}" class="btn btn-success">ATUALIZAR</a>
            <form th:action="@{/deleteTerm/{id}(id=${term.id})}" method="get">
              <button type="submit" class="btn btn-danger">DELETAR</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>



  <script>
    function confirmAction() {
      let text = "Você confirma a remorção?\nEither OK or Cancel.";
      if (confirm(text) == true) {
        text = "You pressed OK!";
      } else {
        text = "You canceled!";
      }
      document.getElementById("demo").innerHTML = text;
    }
  </script>
</body>

</html>