<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Term</title>
	<div th:replace="fragments :: header"></div>
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>

	<div th:replace="fragments :: navbar"></div>

	<div class="containet mb-1 pb-5 d-print-none"></div>

	<div class="container" id="term-detail">

		<div class="row justify-content-between mt-1">
			<div class="col-auto">
				<img th:src="@{/logo.png}" alt="logo" />
			</div>
			<div class="col-auto">
				<h5>Termo de Entrega, Devolução e Responsabilidade de Equipamentos</h5>
			</div>
		</div>

		<div class="row justify-content pt-3">
			<div class="col-auto">
				<p>
					Pelo presente Termo de Entrega, Devolução e Responsabilidade para uso de equipamentos corporativos
					Eu, <span th:text="${term.employeeName}"></span> portador (a) do e-mail
					<span th:text="${term.employeeEmail}"></span>, CPF: <span th:text="${term.employeeCpf}"></span>,
					doravante denominado COMODATÁRIO, declaro para todos os fins de direito estar ciente da política de
					Solicitação de Recursos de TI e ter recebido nesta data um equipamento cujas configurações estão
					detalhadas abaixo, pertencente ao GRUPO AGIS,
					estabelecido na Avenida Angélica, nº 2163, 14º andar, conjunto 145, Consolação, na cidade de São
					Paulo, Estado de
					São Paulo, inscrito no CNPJ/MF sob nº 31.023.023/0001-45 e filial estabelecida na <span
						th:text="${term.localityAddress}"></span>, nº <span th:text="${term.localityNumber}"></span>, <span th:text="${term.localityDistrict}"></span>, na
					cidade de <span th:text="${term.localityCity}"></span>, estado do <span th:text="${term.localityUf}"></span>, inscrita
					no CNPJ/MF sob o nº <span th:text="${term.localityCnpj}"></span>,
					doravante denominada COMODANTE, ficando o referido equipamento sob minha responsabilidade até a data
					em que a COMODANTE solicitar sua devolução ou quando o vínculo de trabalho ou prestação de serviço,
					por qualquer motivo, finalizar ou encerrar, estando ciente que a não devolução ou eventuais danos do
					equipamento e/ou acessório automaticamente autoriza ao <span th:text="${term.localityCompanyName}"></span> a descontar valor
					pertinente a reposição ou manutenção, através de desconto em folha (funcionário) ou mediante a
					retenção do respectivo valor da contraprestação pecuniária aos serviços prestados (prestador de
					serviços).
				</p>

				<p>
					O COMODATÁRIO conforme política de utilização dos recursos de TI da COMODANTE, sendo
					obrigatório ao COMODATÁRIO manter os equipamentos em perfeito funcionamento durante o horário de
					trabalho.
					Caso seja constatado mau uso ou avarias indevidas no equipamento disponibilizado, a COMODANTE
					reserva-se o direito de solicitar o ressarcimento do valor excessivo do respectivo COMODATÁRIO.
					Não é permitido armazenamento de informações (documentos, planilhas, fotos, músicas, etc.) que não
					sejam de uso corporativo, sendo o COMODATÁRIO responsável pelos eventuais dados armazenados e seu
					conteúdo.
					O COMODATÁRIO não poderá vender o equipamento, emprestá-lo, transferi-lo, alugá-lo ou cedê-lo a
					terceiros (pessoas físicas ou jurídicas).
					A responsabilidade por eventuais manutenções, roubo, furto ou perda do equipamento é exclusivo do
					COMODATÁRIO e no ato da devolução a equipe de TI, verificará o equipamento, preencherá e assinará o
					termo de devolução. Caso na devolução o equipamento esteja danificado e seja constatado o mau uso,
					fica o COMODATARIO passível de ressarcir à COMODANTE o valor do equipamento e/ou acessório, sem
					depreciação, tendo como base o valor de mercado do equipamento disponibilizado, modelo similar caso
					o anterior não seja mais produzido.
				</p>
			</div>
		</div>

		<div class="row justify-content border border-secondary rounded mt-1">
			<div class="col">
				<div class="row justify-content-between border rounded">
					<div class="col-auto p-1">
						<span class="title">ENTREGA</span>
					</div>
					<div class="col-auto p-1">
						<span class="title">DATA: </span>
						<span class="title" th:text="${#temporals.format(term?.deliveryInstant, 'dd/MM/yyyy')}"></span>
					</div>
				</div>
				<div class="row justify-content-between table-responsive pt-1">
					<div class="col-auto">
						<table class="table table-hover align-middle">
							<caption class="caption p-2">Equipamento(s)</caption>
							<thead class="table-light">
								<tr>
									<td scope="col">Fabricante</td>
									<td scope="col">Tipo de equipamento</td>
									<td scope="col">Modelo</td>
									<td scope="col">Número de série</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="equip: ${term.deliveryEquipments}">
									<td th:text="${equip.getFabricator}"></td>
									<td th:text="${equip.getEquipmentType}"></td>
									<td th:text="${equip.getModel}"></td>
									<td th:text="${equip.getSerialNumber}"></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="col-auto" th:if="${!term.deliveryPeripherals.isEmpty()}">
						<table class="table table-hover align-middle">
							<caption class="caption p-2">Periférico(s)</caption>
							<tr th:each="peripheral: ${term.deliveryPeripherals}">
								<td scope="row" th:text="${peripheral.getName}"></td>
							</tr>
						</table>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-auto border rounded">
						<div class="row justify-content-center">
							<div class="col-auto">
								<img class="imgSign" th:src="${term.deliverySignAnalyst}">
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-auto">
								<span class="termData" th:text="${term.analyst}"></span>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-auto">
								<p>(ANALISTA TI)</p>
							</div>
						</div>
					</div>

					<div class="col-auto"></div>

					<div class="col-auto border rounded">
						<div class="row justify-content-center">
							<div class="col-auto">
								<img class="imgSign" th:src="${term.deliverySignEmployee}">
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-auto">
								<span class="termData" th:text="${term.employeeName}"></span>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-auto">
								<p>(COLABORADOR)</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="devolution" class="row justify-content border border-secondary rounded mt-3"
			th:if="${!term.devolutionEquipments.isEmpty()}">
			<div class="col">
				<div class="row justify-content-between border rounded">
					<div class="col-auto p-1">
						<span class="title">DEVOLUÇÃO</span>
					</div>
					<div class="col-auto p-1">
						<span class="title">DATA: </span>
						<span class="title" th:text="${#temporals.format(term?.devolutionInstant, 'dd/MM/yyyy')}"></span>
					</div>
				</div>
				<div class="row justify-content-between table-responsive pt-1">
					<div class="col-auto">
						<table class="table table-hover align-middle">
							<caption class="caption p-2">Equipamento(s)</caption>
							<thead class="table-light">
								<tr>
									<td scope="col">Fabricante</td>
									<td scope="col">Tipo de equipamento</td>
									<td scope="col">Modelo</td>
									<td scope="col">Número de série</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="equip: ${term?.devolutionEquipments}">
									<td th:text="${equip.getFabricator}"></td>
									<td th:text="${equip.getEquipmentType}"></td>
									<td th:text="${equip.getModel}"></td>
									<td th:text="${equip.getSerialNumber}"></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="col-auto"></div>
				</div>

				<div class="row justify-content-center">
					<div class="col-auto border rounded">
						<div class="row justify-content-center">
							<div class="col-auto">
								<img class="imgSign" th:src="${term?.devolutionSignAnalyst}">
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-auto">
								<span class="termData" th:text="${term?.analyst}"></span>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-auto">
								<p>(ANALISTA TI)</p>
							</div>
						</div>
					</div>

					<div class="col-auto"></div>

					<div class="col-auto border rounded">
						<div class="row justify-content-center">
							<div class="col-auto">
								<img class="imgSign" th:src="${term?.devolutionSignAnalyst}">
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-auto">
								<span class="termData" th:text="${term?.employeeName}"></span>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-auto">
								<p>(COLABORADOR)</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row justify-content-center d-print-none mt-5 mb-5 pb-5">
			<div class="col-auto">
				<a th:href="@{/term/return/{id}(id=${term.id})}" class="btn btn-success">Devolver</a>
			</div>
		</div>

	</div>

	<div th:replace="fragments :: footer"></div>

</body>

</html>