<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>TESTE</title>
  
</head>

<body>


    <canvas id="canvas" class="myCanvas"></canvas>

    <button id="button">Click</button>


    <script>
        const btnDisplay = document.querySelector('#button');

        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');

        ctx.fillStyle = 'green';
        ctx.fillRect(10, 10, 150, 100);

        btnDisplay.addEventListener("click", function() {
            ctx.fillRect(10, 10, 300, 500);
        });
    </script>



</body>

</html>